<apx-alert
  [buttons]="[]"
  [(showAlert)]="shareST"
>
    <span title>Share With</span>

    <div class="padding-16 margin-ts" style="display:block;align-items: center;">
        <div style="display: inline-block;margin:auto;width: 100%;text-align: center;">
            <div class="share-icon" (click)="shareonSM('https://www.facebook.com/sharer/sharer.php?u='+url)" onmousedown="this.classList.add('squeezeme')" onmouseup="this.classList.remove('squeezeme')" style="min-width: 42px;height:42px;line-height: 42px;display: inline-block;text-align: center;">
                <img src="../../assets/icon/facebook.png" style="width: 20px;height: 20px;margin-top: 10px;" alt="share with facebook">
            </div>
            <div class="share-icon" (click)="shareonSM('whatsapp://send?text='+url)" onmousedown="this.classList.add('squeezeme')" onmouseup="this.classList.remove('squeezeme')" style="min-width: 42px;height:42px;line-height: 42px;display: inline-block;text-align: center;">
                <img src="../../assets/icon/whatsapp.png" style="width: 20px;height: 20px;margin-top: 10px;" alt="share with whatsapp">
            </div>
            <div class="share-icon" (click)="shareonSM('http://twitter.com/share?text='+title+' '+content+'&url='+url)" onmousedown="this.classList.add('squeezeme')" onmouseup="this.classList.remove('squeezeme')" style="min-width: 42px;height:42px;line-height: 42px;display: inline-block;text-align: center;">
                <img src="../../assets/icon/twitter.png" style="width: 20px;height: 20px;margin-top: 10px;" alt="share with twitter">
            </div>
            <div class="share-icon" (click)="shareonSM('https://telegram.me/share/url?url='+url)" onmousedown="this.classList.add('squeezeme')" onmouseup="this.classList.remove('squeezeme')" style="min-width: 42px;height:42px;line-height: 42px;display: inline-block;text-align: center;">
                <img src="../../assets/icon/telegram.png" style="width: 20px;height: 20px;margin-top: 10px;" alt="share with telegram">
            </div>
            <div class="share-iconl" (click)="shareonSM('https://www.linkedin.com/shareArticle?mini=true&url='+url+'&title='+title+'&source=LinkedIn')" onmousedown="this.classList.add('squeezeme')" onmouseup="this.classList.remove('squeezeme')" style="min-width: 42px;height:42px;line-height: 42px;display: inline-block;text-align: center;">
                <img src="../../assets/icon/linkedin.png" style="width: 20px;height: 20px;margin-top: 10px;" alt="share with linkedin">
            </div>
        </div>
    </div>
    <div class="padding-16">
        <div class="font-13 bold">Or copy this link to share</div>
        <div class="margin-ts" style="display: flex;height: 32px;">
            <div style="flex: 32px 0;text-align: center;min-width: 32px" (click)="copytoClip()" onmousedown="this.classList.add('squeezeme')" onmouseup="this.classList.remove('squeezeme')" class="share-icon">
                <img src="../../assets/icon/{{(copied?'done':'clone')}}.png" style="width: 18px;height: 18px;margin-top: 6px;" alt="copy link"></div>
            <div style="flex-grow: 1;padding:1px 14px;line-height: 28px;" class="share-iconl font-14 text-line1">{{url}}</div>
        </div>
    </div>
</apx-alert>