<div class="margin-16">
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'primary'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'emphasized'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'secondary'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'tertiary'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'tertiary'"
            [disabled]="true"
        ></apx-button>
    </div>
</div>
<div class="margin-16">
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'primary'"
            [type]="'icon_text'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'emphasized'"
            [type]="'icon_text'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'secondary'"
            [type]="'icon_text'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'tertiary'"
            [type]="'icon_text'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'tertiary'"
            [type]="'icon_text'"
            [disabled]="true"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'primary'"
            [type]="'icon_text'"
            [icon_position]="'right'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'emphasized'"
            [type]="'icon_text'"
            [icon_position]="'right'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'secondary'"
            [type]="'icon_text'"
            [icon_position]="'right'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'tertiary'"
            [type]="'icon_text'"
            [icon_position]="'right'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'tertiary'"
            [type]="'icon_text'"
            [icon_position]="'right'"
            [disabled]="true"
        ></apx-button>
    </div>
</div>
<div class="margin-16">
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'primary'"
            [type]="'icon'"
            [icon_type]="'fa fa-home'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'emphasized'"
            [type]="'icon'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'secondary'"
            [type]="'icon'"
            [icon_type]="'fa fa-home'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'tertiary'"
            [type]="'icon'"
            [icon_type]="'fa fa-home'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [disabled]="true"
            [type]="'icon'"
            [icon_type]="'fa fa-home'"
        ></apx-button>
    </div>
</div>
<div class="margin-16">
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'primary'"
            [size]="'L'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'primary'"
            [size]="'M'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'primary'"
            [size]="'S'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12">
        <apx-button
            [button_type]="'primary'"
            [size]="'XS'"
        ></apx-button>
    </div>
</div>
<div class="margin-16">
    <div class="inline-block padding-12 col-3" style="overflow-y:auto;">
        <apx-button
            [button_type]="'primary'"
            [label]="'Full Width'"
            [size]="'S'"
            [width]="'full'"
        ></apx-button>
    </div>
    <div class="inline-block padding-12 col-3" style="overflow-y:auto;">
        <apx-button
            [button_type]="'primary'"
            [size]="'S'"
            [label]="'Limited Width'"
            [width]="'limited'"
        ></apx-button>
    </div>
</div>
<br><apx-alert [showAlert]="showAlert">
    <ng-container title>Title <span style="color:red">red </span>come here</ng-container>
    <div>Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.

        These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page apps for enterprises. Tutorials and guides include downloadable examples to accelerate your projects.</div>
</apx-alert>