<div [ngClass]="{'fullScreen':fullScreen}"></div>
<div class="apx-loader" [ngClass]="{'apx-loaderF':fullScreen}">
    <div class="loader">
        <div class="square" ></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square "></div>
        <div class="square last"></div><br>
        <span class="color1" [innerHTML]="loadingText"></span> 
    </div>
</div>
    
  