<div class="relative" style="border-bottom: 1px solid #5a5a5a;padding:8px;height: 40px;"><img (click)="back_press()" style="top: 12px;" class="absolute cursor" width="14px" height="14px" src="../../../assets/left-arrow.svg"><b style="left:35px;top:11px" class="absolute">Reply</b></div>
<div  class="sticky_header">
    <div style="padding:8px;max-width: 900px;display: flex;background: white;">
        <div style="margin:10px;flex:40px">
            <img src="../../assets/nature.jpg" width="50px" height="50px" style="border-radius: 50%;">
        </div>
        <div  style="margin:10px;width: calc(100% - 100px);flex-grow: 1;">
            <div class="text-line1" style="font-weight: 600;max-width: calc(100% - 10px)">Rajesh Kumar Kumar Rajesh Kumar Kumar</div>
            <div class="font-80 date-color margin-ts"><span>4.5 &nbsp;&nbsp;</span>16jun,21</div>
            <div class="font-90 color2 margin-top">
                Hello this is rajesh kumar and i am writnin
            </div>
        </div>
    </div>
    <apx-input
        [type]="'div'"
        [label]="'add a reply...'"
    ></apx-input>
    <div style="border-bottom: 1px solid #a1a1a1;"></div>
</div>


<div style="background: #f5f5f5;height: 100%;" class="padding-8">
    <div style="margin:8px;max-width: 900px;display: flex;border-bottom: 2px solid white;padding-bottom: 10px;">
        <div style="margin:10px;flex:40px">
            <img src="../../assets/nature.jpg" width="50px" height="50px" style="border-radius: 50%;">
        </div>
        <div  style="margin:10px;flex-grow: 1;width: calc(100% - 100px);">
            <div class="text-line1" style="font-weight: 600;max-width: calc(100% - 10px)">Rajesh Kumar Kumar Rajesh Kumar Kumar</div>
            <div class="font-80 date-color margin-ts"><span>4.5 &nbsp;&nbsp;</span>16jun,21</div>
            <div class="font-90 color2 margin-top text-line3">
                Hello this is rajesh kumar and i am writnin
                is is rajesh kumar and i am writnin
                is is rajesh kumar and i am writnin
                <span (click)="full_cmt('d.comment_id')" class="cursor bold" style="color:rgb(50, 50, 194)">&nbsp;&nbsp;Less</span>
            </div>
        </div>
    </div>
    <div style="margin:8px;max-width: 900px;display: flex;border-bottom: 2px solid white;padding-bottom: 10px;">
        <div style="margin:10px;flex:40px">
            <img src="../../assets/nature.jpg" width="50px" height="50px" style="border-radius: 50%;">
        </div>
        <div  style="margin:10px;flex-grow: 1;width: calc(100% - 100px);" >
            <div class="text-line1" style="font-weight: 600;max-width: calc(100% - 10px)">Rajesh Kumar Kumar Rajesh Kumar Kumar</div>
            <div class="font-80 date-color margin-ts"><span>4.5 &nbsp;&nbsp;</span>16jun,21</div>
            <div class="font-90 color2 margin-top text-line3">
                Hello this is rajesh kumar and i am writnin
            </div>
        </div>
    </div>
    <div style="margin:8px;max-width: 900px;display: flex;border-bottom: 2px solid white;padding-bottom: 10px;">
        <div style="margin:10px;flex:40px">
            <img src="../../assets/nature.jpg" width="50px" height="50px" style="border-radius: 50%;">
        </div>
        <div  style="margin:10px;flex-grow: 1;width: calc(100% - 100px);">
            <div class="text-line1" style="font-weight: 600;max-width: calc(100% - 10px)">Rajesh Kumar Kumar Rajesh Kumar Kumar</div>
            <div class="font-80 date-color margin-ts"><span>4.5 &nbsp;&nbsp;</span>16jun,21</div>
            <div class="font-90 color2 margin-top text-line3">
                Hello this is rajesh kumar and i am writnin
            </div>
        </div>
    </div>
    <div style="margin:8px;max-width: 900px;display: flex;border-bottom: 2px solid white;padding-bottom: 10px;">
        <div style="margin:10px;flex:40px">
            <img src="../../assets/nature.jpg" width="50px" height="50px" style="border-radius: 50%;">
        </div>
        <div  style="margin:10px;flex-grow: 1;width: calc(100% - 100px);">
            <div class="text-line1" style="font-weight: 600;max-width: calc(100% - 10px)">Rajesh Kumar Kumar Rajesh Kumar Kumar</div>
            <div class="font-80 date-color margin-ts"><span>4.5 &nbsp;&nbsp;</span>16jun,21</div>
            <div class="font-90 color2 margin-top text-line3">
                Hello this is rajesh kumar and i am writnin
            </div>
        </div>
    </div>
    <div style="margin:8px;max-width: 900px;display: flex;border-bottom: 2px solid white;padding-bottom: 10px;">
        <div style="margin:10px;flex:40px">
            <img src="../../assets/nature.jpg" width="50px" height="50px" style="border-radius: 50%;">
        </div>
        <div  style="margin:10px;flex-grow: 1;width: calc(100% - 100px);">
            <div class="text-line1" style="font-weight: 600;max-width: calc(100% - 10px)">Rajesh Kumar Kumar Rajesh Kumar Kumar</div>
            <div class="font-80 date-color margin-ts"><span>4.5 &nbsp;&nbsp;</span>16jun,21</div>
            <div class="font-90 color2 margin-top text-line3">
                Hello this is rajesh kumar and i am writnin
            </div>
        </div>
    </div>
</div>