<apx-button
    [button_type]="'primary'"
    [size]="'S'"
    [label]="'Show Alert'"
    [width]="'limited'"
    (clicked)="show_alert()"
></apx-button>
<apx-alert [showAlert]="showAlert" (clicked)="alertclicked($event)">
    <ng-container title>Title <span style="color:red">red </span>come here</ng-container>
    <div>Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.

        These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page apps for enterprises. Tutorials and guides include downloadable examples to accelerate your projects.</div>
</apx-alert>