.apx-p-c{
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
	overflow-y: hidden;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
}
.apx-pc-div{
    display: inline-block;
	vertical-align: middle;
    text-align: center;
    margin-right: 8px;
}
::-webkit-scrollbar { height: 12px;} /* Track */
/* Handle */ 
::-webkit-scrollbar-thumb { 
    /* -webkit-border-radius: 5px;  */
    /* border-radius: 10px;  */
    background:#959595; 
    box-shadow: inset 0 0 4px #ccc; 
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 4px #ccc; 
    border-top: 6px solid #fff; 
    background-clip: padding-box; 
} 