<div class="row">
    <div class="col-3 padding-6">
        <apx-link-list
            [data]="data"
            [title]="'Math Question'"
        ></apx-link-list>
    </div>
    <div class="col-3 padding-6">
        <apx-link-list
            [data]="data"
            [title]="'Physics Question'"
        ></apx-link-list>
    </div>
    <div class="col-3 padding-6">
        <apx-link-list
            [data]="data"
            [title]="'Chemistry Question'"
        ></apx-link-list>
    </div>
</div>