<carousel
    [images]="images"
    [objectFit]="'cover'"
    [arrows]="true"
    [height]="height"
    [arrowsTheme]="'dark'"
    [arrowsOutside]="false"
    [cellWidth]="'100%'"
    [autoplay]="true"
    [freeScroll]="false"
    [autoplayInterval]="3000"
    [cellsToScroll]="1"
    [lightDOM]="true"
    [pauseOnHover]="true"
    [transitionDuration]="300"
    [transitionTimingFunction]="'ease-in'"
    [dots]="true"
    [loop]="true"
>
</carousel>
<!-- arrowsTheme = dark/light-->
<!-- 'contain' | 'cover' | 'none' = 'cover' -->