<div class="footer-color padding-16">
    <div class="white-color font-22 margin-top">
        <div style="padding:4px 8px;position: relative;margin-bottom: 2px;height: 50px;">
            <div style="display: inline-block;max-width: 80px;">
                <img src="Square-Storm.png" alt="KushwahaTent House Logo" width="40px">
            </div>
            <div style="display: inline-block;position: absolute;left: 60px;top:13px">
                <h4 class="single-line">KushwahaTent House</h4>
            </div>
        </div>
    </div>
    <div class="margin-top">Address: Plot no. 189, Frontier Colony, Adarsh Nagar
        <br>Near Raja Park, Jaipur Rajasthan, Pincode: 826001
    </div>
    <br><br>
    <div class="center">
        <a class="footer-color" href="{{socialMediaLink.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="footer-color" href="{{socialMediaLink.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="footer-color" href="{{socialMediaLink.youtube}}" target="_blank"><i class="fa fa-youtube"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="footer-color" href="{{socialMediaLink.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    
    <div class="row">
        <div class="multicard">
            <span class="f-yellow">Quick Link</span>
            <br>
            <div class="font-15">
                <div class="margin-top-large">Home</div>
                <div class="margin-ts">Our Packages</div>
                <div class="margin-ts">About Us</div>
                <div class="margin-ts">Our Feedback</div>
                <div class="margin-ts">Contact Us</div>
            </div>
        </div>
        <div class="multicard">
            <span class="f-yellow">Our Services</span>
            <br>
            <div class="font-15">
                <div class="margin-top-large">Catering</div>
                <div class="margin-ts">DJ</div>
                <div class="margin-ts">Decorations</div>
                <div class="margin-ts">PhotoShoot</div>
            </div>
        </div>
        <div class="multicard">
            <span class="f-yellow">Contact Us</span>
            <br>
            <div class="font-15">
                <div class="margin-top-large">{{mobileNo}}</div>
                <div class="margin-ts">{{emailAddress}}</div>
            </div>
        </div>
    </div>
    <br>
</div>
