<div class="row margin-12">
    <div class="col-3 padding-8">
        <apx-single-dropdown
            [label_position]="'inside'"
            [data]="data"
            [size]="'small'"
        ></apx-single-dropdown>
    </div>
    <div class="col-3 padding-8">
        <apx-single-dropdown
            [label_position]="'inside'"
            [data]="data"
            [size]="'medium'"
        ></apx-single-dropdown>
    </div>
    <div class="col-3 padding-8">
        <apx-single-dropdown
            [label_position]="'inside'"
            [data]="data"
            [size]="'large'"
        ></apx-single-dropdown>
    </div>
</div>
