<button #unique_botton 
    class="btn-{{button_type}} btn-{{size}} btn-{{width_type}} apx-button btn-{{type}}-{{icon_position}}-{{size}}"
    *ngIf="!disable && (button_type=='Primary' || button_type=='primary' || button_type=='Emphasized' || button_type=='emphasized' || button_type=='Secondary' || button_type=='secondary' || button_type=='Tertiary' || button_type=='tertiary') && (type=='text' || type=='icon_text')"
    
    (mouseup)="key_up1()"
    (mousedown)="key_press()"
    (keypress)="key_press()"
    (keyup)="key_up($event)"
    style="align-items: center;"
>
    <!-- <span
        style="text-align: center;letter-spacing: 0;color: #fff;"
    >{{label}}</span> -->

    <i *ngIf="icon_position=='left' && type=='icon_text'" class="{{icon_type}}" [ngStyle]="{'font-size':button_style['icon'][size]['icon_size']}" style="margin-right: 6px;margin-left:-8px"></i>
    <span
        style="text-align: center;"
    >{{label}}</span>
    <i *ngIf="icon_position=='right' && type=='icon_text'" class="{{icon_type}}" [ngStyle]="{'font-size':button_style['icon'][size]['icon_size']}" style="margin-left: 6px;margin-right:-8px"></i>
</button>

<!-- icon type -->
<button #b_s 
    class="btn-{{button_type}} ibtn-{{size}} btn-{{width_type}} apx-button"
    *ngIf="!disable && (button_type=='Primary' || button_type=='primary' || button_type=='Tertiary' || button_type=='tertiary' || button_type=='Emphasized' || button_type=='emphasized' || button_type=='Secondary' || button_type=='secondary') && type=='icon'"
    style="border-radius: 50%;"
    (mouseup)="key_up1()"
    (mousedown)="key_press()"
    (keypress)="key_press()"
    (keyup)="key_up($event)"
>
    <span
    ><i *ngIf="icon_type" [ngStyle]="{'font-size':icon_size!=''?icon_size:button_style[type][size]['icon_size'],'color':icon_color}" class={{icon_type}}></i>{{round_label}}</span>
</button>

<!--disable button-->
<button *ngIf="disable && (type=='text' || type=='icon_text')"
    [ngClass]="{'btn_disable':disable}"
    class="btn-{{size}} btn-{{width_type}} apx-button"
    [ngStyle]="{'font':button_style[size]['font']}"
    style="vertical-align: middle;color: #ccc;"
>   
    <i *ngIf="icon_position=='left' && type=='icon_text'" class="{{icon_type}}" [ngStyle]="{'font-size':button_style['icon'][size]['icon_size']}" style="margin-right: 6px;"></i>
    <span
    style="text-align: center;font-weight: 500;"
    >{{label}}</span>
    <i *ngIf="icon_position=='right' && type=='icon_text'" class="{{icon_type}}" [ngStyle]="{'font-size':button_style['icon'][size]['icon_size']}" style="margin-left: 6px;"></i>
</button>
<button *ngIf="disable && type=='icon'"
    [ngClass]="{'btn_disable':disable}"
    style="border-radius: 50%;color:#ccc"
    [ngStyle]="{'width':button_style[type][size]['size'],'height':button_style[type][size]['size']}"
>
    <span
    [ngStyle]="{'font-size':button_style[type][size]['icon_size']}"
    ><i class={{icon_type}}></i></span>
</button>

