<div  style="max-width: 700px;" class="padding-12">
    Large Size
    <apx-input
        [size]="'L'"
        [background]="'#ffffff'"
    ></apx-input><br>
    Medium Size
    <apx-input
        [size]="'M'"
        [background]="'#ffffff'"
        [searchable]="true"
    ></apx-input><br>
    Small Size
    <apx-input
        [size]="'S'"
        [background]="'#ffffff'"
    ></apx-input>
    <br>
    Invoy background
    <apx-input
        [size]="'M'"
        [background]="'#e6ebf0'"
    ></apx-input><br>
    Div type
    <apx-input
        [size]="'M'"
        [type]="'div'"
        [background]="'#e6ebf0'"
    ></apx-input><br>
    Large Div type
    <apx-input
        [size]="'M'"
        [type]="'div'"
        [large_div]="true"
        [background]="'#e6ebf0'"
    ></apx-input>
</div>

   