<div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'L'"
        ></apx-pills>
    </div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'M'"
        ></apx-pills>
    </div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'S'"
        ></apx-pills>
    </div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'XS'"
        ></apx-pills>
    </div>
</div>
<div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'L'"
            [icon_position]="'right'"
        ></apx-pills>
    </div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'M'"
            [icon_position]="'right'"
        ></apx-pills>
    </div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'S'"
            [icon_position]="'right'"
        ></apx-pills>
    </div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'XS'"
            [icon_position]="'right'"
        ></apx-pills>
    </div>
</div>
<div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'L'"
            [icon_position]="'left'"
        ></apx-pills>
    </div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'M'"
            [icon_position]="'left'"
        ></apx-pills>
    </div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'S'"
            [icon_position]="'left'"
        ></apx-pills>
    </div>
    <div class="padding-12 inline-block">
        <apx-pills
            [size]="'XS'"
            [icon_position]="'left'"
        ></apx-pills>
    </div>
</div>
<div class="padding-12 inline-block">
    <apx-pills
        [size]="'M'"
        [selected]="true"
    ></apx-pills>
</div>
<div class="padding-12 inline-block">
    <apx-pills
        [size]="'M'"
        [icon_position]="'left'"
        [selected]="true"
    ></apx-pills>
</div>
<div class="padding-12 inline-block">
    <apx-pills
        [size]="'M'"
        [disabled]="true"
    ></apx-pills>
</div>