.margin-top{
    margin-top: 14px;
}
.num_style{
    /* font-size: 14px; */
    flex:46px 0;
    min-width: 46px;
    text-align: center;
    /* height: 24px; */
    padding:2px 0;
    margin-top:2px;
}
.active_link_bg{
    background: #5EBA7D;
    color: #fff;
}
.unactive_link_bg{
    background: #e6ebf0;
    color:#111111;
}
.str_style{
    flex-grow: 1;
    /* font-size: 16px; */
    padding: 1px 0;
    color:#551A8B;
}
.margin-left{
    margin-left:8px;
}
.top_s{
    top:-1px;
}